:host {
  display: inline-block;
  min-width: 140px;

  --height: 40px;
  --font-size: 13px;
  --text-margin-start: calc(var(--height) / 4);
  --text-margin-end: calc(var(--height) / 4);
}
:host([size="large"]) {
  --height: 40px;
  --font-size: 16px;
}
:host([size="medium"]) {
  --height: 28px;
  --font-size: 13px;
}
:host([size="small"]) {
  --height: 20px;
  --font-size: 11px;
}

:host([expand="block"]) {
  display: block;
}

button {
  align-items: center;
  border-radius: 2px;
  background-color: #4285F4;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  font-weight: 500;
  height: var(--height);
  max-height: 100%;
  outline: 0;
  overflow: hidden;
  padding: 1px;
  text-align: inherit;
  text-transform: inherit;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  width: 100%;
}

:host(:not([disabled])) button:hover,
:host(:not([disabled])) button:focus {
  background-color: #4285f4;
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
:host(:not([disabled])) button:active {
  background-color: #3367D6;
}
:host([disabled]) button {
  background-color: #EBEBEB;
  color: #8D8D8D;
  cursor: default;
}

:host([theme="light"]) button {
  background-color: white;
  color: #767676;
}
:host([theme="light"]:not([disabled])) button:hover,
:host([theme="light"]:not([disabled])) button:focus {
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(118,118,118,.3);
}
:host([theme="light"]:not([disabled])) button:active {
  background-color: #EEEEEE;
  box-shadow: 0 0 5px 5px rgba(118,118,118,.27);
}

google-icon {
  height: calc(var(--height) * 0.45);
  width: calc(var(--height) * 0.45);
  background-color: white;
  border-radius: 1px;
  padding: calc(var(--height) * 0.55 / 2 - 1px);
  /* margin-right: calc(var(--height) * 0.35); */
  transition: background-color .218s;
}

:host-context([dir="rtl"]) google-icon {
  margin-right: unset;
  /* margin-left: calc(var(--height) / 8); */
}
:host([disabled]) google-icon {
  background: #EBEBEB;
}
:host([disabled]) google-icon path {
  fill: #8D8D8D;
}
:host([theme="light"]:not([disabled])) button:active google-icon {
  background-color: #EEEEEE;
}

span {
  flex-grow: 1;
  margin-left: var(--text-margin-start);
  margin-right: var(--text-margin-end);
}
:host-context([dir="rtl"]) span {
  margin-left: var(--text-margin-end);
  margin-right: var(--text-margin-start);
}
